<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/css/main.css">
    {{#if cartCSS}}
        <link rel="stylesheet" href="/css/cart.css">
    {{/if}}
    {{#if formCSS}}
        <link rel="stylesheet" href="/css/forms.css">
    {{/if}}
    {{#if productCSS}}
        <link rel="stylesheet" href="/css/product.css">
    {{/if}}
    {{#if ordersCSS}}
        <link rel="stylesheet" href="/css/orders.css">
    {{/if}}
    {{#if authCSS}}
        <link rel="stylesheet" href="/css/auth.css">
    {{/if}}
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                {{#if isAuthenticated}}
                    <li class="main-header__item">
                        <a class="{{#if activeRestaurant }}active{{/if}}" href="/">Restaurants</a>
                    </li>
                    <li class="main-header__item">
                        <a class="{{#if activeReservation }}active{{/if}}" href="/my-reservations">My Reservations</a>
                    </li>
                {{/if}}
            </ul>
            <ul class="main-header__item-list">
                {{#if isAuthenticated}}
                    <li class="main-header__item">
                        <form action="/logout" method="post">
                            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                            <button type="submit">logout</button>
                        </form>
                    </li>
                {{else}}
                    <li class="main-header__item">
                        <a class="{{#if activeLogin }}active{{/if}}" href="/login">Login</a>
                    </li>
                    <li class="main-header__item">
                        <a class="{{#if activeSignUp }}active{{/if}}" href="/signup">Sign up</a>
                    </li>
                {{/if}}
            </ul>
        </nav>
    </header>